body{
    background-color: rgb(233, 229, 229);   
  } 
.bbox{
      padding: 20px 80px ;
  }
  .box{    
    background-color: white;
    text-align: center;
    padding:50px 25px;
    margin:30px 0px; 
  }
  .fa{
      color:rgba(67, 67, 250, 0.829);
  }
  p{
      margin:20px 0px;
  }